.wrap {
  max-height: 68px;
  position: relative;
  width: 100%;
  z-index: 50;

  .logo {
    display: inline-block;
    max-height: 60px;
    vertical-align: middle;
  }

  .desc {
    padding: 0 0 0 20px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
    font-weight: normal;
  }
}