@import '../../variable';

.container {
  position: absolute;
  height: 80vh;
  width: 80vw;
  background: $base;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99;
  border-radius: 20px;
  -webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));

  .headerWrap {
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    padding: 10px 0;
    position: relative;

    .title {
      margin: auto;
      font-size: $font-big;
    }

    .closeBtn {
      height: 100%;
      width: 61px;
      position: absolute;
      right: 0;
      top: 0px;
      bottom: 0px;
      margin: auto;
      border: none;
      cursor: pointer;
      background: $base;
      border-radius: 30px;

      .close {
        width: 50%;
        margin: auto;
      }
    }
  }

  .submit {
    background: $secondary;
    color: $base;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0 0 20px 20px;
    border: none;
    font-size: $font-mid;
    padding: 15px 0;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    &:hover {
      background: $secondary-thin;
    }
  }

  .bodyWrap {
    overflow-y: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    height: calc(80vh - 63px - 63px);
    padding: 15px 30px;

    .areaWrap {
      text-align: left;

      .title {
        font-size: $font-big;
      }

      .areaContainer {
        .prefectureWrap {
          width: 20%;
          display: inline-block;
        }
        .areaDetailWrap {
          width: 80%;
          display: inline-block;

          .flex {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-wrap: wrap;

            .areaDetail {
              width: 25%;
              // display: inline-block;
            }
          }
        }
      }
    }
  }

  .elemWrap {
    font-size: $font-mid;
    display: flex;
    align-items: center;
    user-select: none;
    flex-wrap: wrap;
    position: relative;
    margin: 10px 0;

    input {
      opacity: 0;
      visibility: hidden;
      position: absolute;

      &:checked+.check {
        border-color: $secondary;
        box-shadow: 0px 0px 0px 15px $secondary inset;

        &:after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    label {
      font-size: $font-nml;
      color: $text-color;
      z-index: 10;
      position: absolute;
      padding-left: 50px;
      cursor: pointer;
      font-weight: bold;
    }

    .check {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 30px;
      background-color: $base;
      border: 2px solid $secondary;
      box-shadow: 0px 0px 0px 0px $secondary inset;
      transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 4;
        position: absolute;
        transform: scale(0);
        background-size: 50%;
        background-image: url('http://s6.picofile.com/d/8392306668/c38c12a0-6db3-47d4-a80c-7dad8fab5186/checkmark.svg');
        background-repeat: no-repeat;
        background-position: center;
        transition-delay: 0.2s !important;
        transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
      }
    }
  }
}