@import '../../variable';

.wrap {
  display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
  padding: 0;
  margin: 0;

  .list {
    list-style-type: none;

    .anchor {
      color: $base;
      padding-right: 30px;
    }
  }
}