// color
$text-color: #22332e;
$black: #000;
$base: #fff;
$base-wrap: #fffff1;
$primary: #120078;
$secondary: #9d0191;
$tertiary: #fd3a69;
$quaternary: #fecd1a;
$sub: #dedede;
$sub-v: #8a8a8a;
$sub-vv: #5c6360;
$sub-middle: #ececec;
$sub-s: #f1f1f1;
$sub-ss: #f9f9f9;
$sub-sss: #f7f7f7;
$sub-4s: #efefef;
$red: #e4406f;
$error: #c7004c;
$error-s: #e896a3;
$rating: #e8db76;
$twitter: #55ACEE;

// font size
$font-extreme-big: 3.5rem;
$font-extreme: 3rem;
$font-very-big: 2rem;
$font-big: 1.5rem;
$font-mid: 1.2rem;
$font-nml: 1rem;
$font-sml: 0.8rem;
$font-mini: 0.6rem;

// font size (based on vw)
$vw5: 5vw;
$vw6: 6vw;